In [1]:
import sys
print("Python Version:", sys.version, '\n')

Python Version: 3.7.6 (default, Jan  8 2020, 13:42:34)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [2]:
print("Integer (int): ", type(1))
print("Float (float): ", type(1.5))
print("String (str): ", type("test"))
print("Boolean (bool): ", type(True))

Integer (int):  <class 'int'>
Float (float):  <class 'float'>
String (str):  <class 'str'>
Boolean (bool):  <class 'bool'>

In [3]:
type(TRUE)

NameError: name 'TRUE' is not defined

In [4]:
type(True)

bool

In [5]:
example_tuple = (1, 2, "bob", 19, "eleventeen", 37)
print(example_tuple)

(1, 2, 'bob', 19, 'eleventeen', 37)

In [6]:
print(example_tuple[0])
print(example_tuple[2])

1
bob

In [7]:
print(example_tuple[1:4])

(2, 'bob', 19)

In [10]:
print(example_tuple[::2])

(1, 'bob', 'eleventeen')

In [11]:
print(example_tuple[-2:])

('eleventeen', 37)

In [12]:
print(example_tuple[-1])

37

In [13]:
example_tuple[1]

2

In [14]:
example_tuple[1] = 7

TypeError: 'tuple' object does not support item assignment

In [15]:
example_list = [1,2,3,4,5,6,7,8]
print(example_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
print(example_list[0:4])

[1, 2, 3, 4]

In [17]:
print(example_list[4])

5

In [19]:
example_list[0] = 'DIFFERENT NOW'

In [20]:
print(example_list)

['DIFFERENT NOW', 2, 3, 4, 5, 6, 7, 8]

In [21]:
new_tuple = tuple(example_list)

In [23]:
print(new_tuple)
print(type(new_tuple))

('DIFFERENT NOW', 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>

In [24]:
new_list = list(example_tuple)
print(new_list)
print(type(new_list))

[1, 2, 'bob', 19, 'eleventeen', 37]
<class 'list'>

In [25]:
new_list.append("NEW DATA")
print(new_list)

[1, 2, 'bob', 19, 'eleventeen', 37, 'NEW DATA']

In [26]:
print(new_list.pop())

NEW DATA

In [27]:
print(new_list)

[1, 2, 'bob', 19, 'eleventeen', 37]

In [28]:
list_to_be_made_a_set = [1,1,1,1,5,2,6,8,0]
set_from_list = set(list_to_be_made_a_set)
print(set_from_list)

{0, 1, 2, 5, 6, 8}

In [29]:
print(list_to_be_made_a_set)

[1, 1, 1, 1, 5, 2, 6, 8, 0]

In [30]:
set_from_list = set(list_to_be_made_a_set)

In [31]:
print(set_from_list)

{0, 1, 2, 5, 6, 8}

In [32]:
set_try_2 = set(list_to_be_made_a_set)

In [33]:
print(set_try_2)

{0, 1, 2, 5, 6, 8}

In [34]:
set_A = {0,1,2,3,4}
set_B = {2,3,4,5,6,7}

In [35]:
print("Union: ", set_A.union(set_B))
print("Intersect: ", set_A.intersection(set_B))

Union:  {0, 1, 2, 3, 4, 5, 6, 7}
Intersect:  {2, 3, 4}

In [38]:
set_C = {0,0,0,0,0,0,1,2,2,2,2,2,2}

In [39]:
print(set_C)

{0, 1, 2}

In [40]:
new_dictionary = {'key_for_this_thing': 3}
print(new_dictionary['key_for_this_thing'])

3

In [41]:
type(new_dictionary)

dict

In [42]:
new_dictionary = {'key_for_a_list': [0,1,2,3,4], 'key_for_another_dictionary': {'bob': 1}}

In [43]:
print(new_dictionary['key_for_a_list'])

[0, 1, 2, 3, 4]

In [45]:
print(new_dictionary['key_for_another_dictionary'])

{'bob': 1}

In [46]:
print(new_dictionary['key_for_another_dictionary']['bob'])

1

In [47]:
career_stats = {'babe_ruth': {1914: ["Red Sox", 5, 10, 0], 1915:['Red Sox', 43, 104, 4]},
                'gavvy_cravath': {1914: ['Phillies',149,604,14]}}

In [48]:
print(career_stats['babe_ruth'])

{1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}

In [49]:
print(career_stats['babe_ruth'][1914])

['Red Sox', 5, 10, 0]

In [50]:
career_stats[('a','new','player')] = ['Reds',12,34,8]

for key, val in career_stats.items():
    print(key,val)

babe_ruth {1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}
gavvy_cravath {1914: ['Phillies', 149, 604, 14]}
('a', 'new', 'player') ['Reds', 12, 34, 8]

In [51]:
print(career_stats.keys())
print(career_stats.values())

dict_keys(['babe_ruth', 'gavvy_cravath', ('a', 'new', 'player')])
dict_values([{1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}, {1914: ['Phillies', 149, 604, 14]}, ['Reds', 12, 34, 8]])

In [52]:
career_stats[['a','new','player']] = ['Reds',12, 34, 8]

TypeError: unhashable type: 'list'

In [53]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [54]:
def count_names_in_tables(table_to_count):
    """
    Takes in a table of data, where the first (0th) column
    is the name of the user, and counts how many time each
    user appears.
    ---
    Inputs: table (list of lists or array)
    Outputs: Dictionary (keys are names, values are counts)
    """
    
    name_counter = {}
    for row in table_to_count:
        name = row[0]
        if name in name_counter.keys():
            name_counter[name] += 1
        else:
            name_counter[name] = 1
    return name_counter

table1 = [['Sam', 36, 85.95],
 ['Carol', 75, 53.65],
 ['Sam', 90, 95.37],
 ['Doug', 61, 19.8],
 ['Sam', 41, 45.22],
 ['Doug', 29, 42.98],
 ['Oliver', 61, 95.74],
 ['Carol', 32, 17.12],
 ['Tari', 27, 68.83],
 ['Tari', 81, 62.47]]

print(count_names_in_tables(table1))

{'Sam': 3, 'Carol': 2, 'Doug': 2, 'Oliver': 1, 'Tari': 2}

In [55]:
type(name_counter)

NameError: name 'name_counter' is not defined

In [56]:
name_counter = {}

In [57]:
type(name_counter)

dict

In [58]:
name_counter['Sam'] = 1

In [59]:
print(name_counter)

{'Sam': 1}

In [147]:
name = "taco"
name2 = "taCo"
sorted_name = sorted(name)
sorted_name2 = sorted(name2)
print(sorted_name)
print(sorted_name2)

['a', 'c', 'o', 't']
['C', 'a', 'o', 't']

In [152]:
print(sorted_name[0])
print(sorted_name2[0])
sorted_name[0] != sorted_name2[0]

a
C

True

In [179]:
sample_bool = True
sample_bool

True

In [180]:
sample_bool = False

In [181]:
print(sample_bool)

False

In [214]:
def anagram_checker(string1,string2):
    new_string1 = sorted(string1)
    print(new_string1)
    new_string2 = sorted(string2)
    print(new_string2)
    
    if len(string1) != len(string2):
            return False
        
    for i in range(0,len(string1)):
        if new_string1[i] != new_string2[i]:
            return False
        else:
            continue
        
    return True

In [215]:
print(anagram_checker("taco","tacozzzzz"))

['a', 'c', 'o', 't']
['a', 'c', 'o', 't', 'z', 'z', 'z', 'z', 'z']
False

In [216]:
str1 = "taco"
len(str1)

4

In [217]:
y = 5.5

In [218]:
print(int(y))

5

In [219]:
steve = "Steve"
print(int(steve))

ValueError: invalid literal for int() with base 10: 'Steve'

In [228]:
x = 4567
enumerate(x)

TypeError: 'int' object is not iterable

In [221]:
import random

In [222]:
rows = []
for i in range(10):
    rows.append("".join([str(random.randint(0,9)) for i in range(10)]))
print("\n".join(rows))

0330565507
9679997608
2774070617
0928185110
3521558933
0288213591
7512586220
0975733835
1789158800
8418931705

In [250]:
def calc_row_value(input_string):

    if type(input_string) != type("foo"):
        raise ValueError("input_string must be a string! ðŸ™ˆ")
        
    input_string = enumerate(input_string,1)
                
    count = 0
    for num in input_string:
        if int(num[0]) % 2 == 0:
            count -= int(num[1]) * 5
        else:
            count += int(num[1])*int(num[0])
            
    return count

In [251]:
print(calc_row_value('6057'))

-14

In [252]:
print(calc_row_value('12345'))

5

In [253]:
print(calc_row_value('6149219982'))

53

In [254]:
print(calc_row_value('7154226105 '))

ValueError: invalid literal for int() with base 10: ' '

In [255]:
try:
    calc_row_value(['12345'])
except ValueError:
    print(True)

True

In [256]:
import inspect
print("enumerate" in inspect.getsource(calc_row_value))

True

In [263]:
string3 = "Samir Thanedar"
string4 = "Radhika Tibrewala"
first_name_list = []
string3_new = string3.split()
first_name_list.append(string3_new[0])
string4_new = string4.split()
first_name_list.append(string4_new[0])
print(first_name_list)

['Samir', 'Radhika']

In [264]:
def find_first_names(students_input):
    """args: 
            students_input(list): an input list of full names
        returns:
            (list): A sorted list of first names
    """
    list_of_first_names = []
    for i,n in enumerate(students_input):
        split_name_list = n.split()
        list_of_first_names.append(split_name_list[0].capitalize)
    
    list_of_first_names = sorted(list_of_first_names)
    return list_of_first_names

In [265]:
print(
    find_first_names([
        'Nicholas Jones', 'Ashley Rowland', 'Stephanie Jackson',
        'Donald Hicks', 'Evan Johnson', 'ashley Parker'
    ]))

['Ashley', 'Donald', 'Evan', 'Nicholas', 'Stephanie', 'ashley']

In [266]:
example_list1 = [1, "string", 678, True]

In [268]:
print(type(example_list1))

<class 'list'>

In [269]:
example_list1[3]

True

In [270]:
career_stats[['a','new','player']] = ['Reds',12, 34, 8]

TypeError: unhashable type: 'list'

In [278]:
new_dict = []
new_dict[('a','new','player')] = "tuple"

TypeError: list indices must be integers or slices, not tuple

In [272]:
print(career_stats)

{'babe_ruth': {1914: ['Red Sox', 5, 10, 0], 1915: ['Red Sox', 43, 104, 4]}, 'gavvy_cravath': {1914: ['Phillies', 149, 604, 14]}, ('a', 'new', 'player'): ['Reds', 12, 34, 8]}

In [283]:
list_to_be_made_a_set = [1,1,1,"hey",5,2,6,8,0]
set_from_list = set(list_to_be_made_a_set)
print(set_from_list)

{0, 1, 2, 5, 6, 8, 'hey'}

In [280]:

set_A = {0,1,2,3,4}
set_B = {2,3,4,5,6,7}

print("Union: ", set_A.union(set_B))
print("Intersect: ", set_A.intersection(set_B))

Union:  {0, 1, 2, 3, 4, 5, 6, 7}
Intersect:  {2, 3, 4}

In [281]:
# We can't adjust sets or look up a single element
set_A[3]

TypeError: 'set' object is not subscriptable

In [282]:
set_A[3] = 7

TypeError: 'set' object does not support item assignment

In [288]:
my_list = [1,2,3,4,5,6,7,8]
f = list(filter(lambda x: x%2 == 0,my_list))

In [289]:
print(f)

[2, 4, 6, 8]

In [290]:
list(map(lambda x: x*x,my_list))

[1, 4, 9, 16, 25, 36, 49, 64]

In [291]:
from datetime import datetime

In [300]:
date1 = '01-02-2013'
date2 = '01-03-2013'

In [301]:
date_start_year = date1[-4:]
date_start_year

'2013'

date1_year = date1[-4:]
date2_year = date2[-4:]
date1_month = date1[:2]
date2_month = date2[:2]
date1_day = date1[3:5]
date2_day = date2[3:5]
date1 = datetime(date1_year,date1_month,date1_day)
date2 = datetime(date2_year,date2_month,date2_day)
diff = date2 - date1
print(diff)

In [307]:
date1_year = int(date1[-4:])
date2_year = int(date2[-4:])
date1_month = int(date1[:2])
date2_month = int(date2[:2])
date1_day = int(date1[3:5])
date2_day = int(date2[3:5])
new_date1 = datetime(date1_year,date1_month,date1_day)
new_date2 = datetime(date2_year,date2_month,date2_day)
diff = date2 - date1
print(diff)

TypeError: 'datetime.datetime' object is not subscriptable

In [308]:
date1

datetime.datetime(2013, 1, 2, 0, 0)

In [309]:
date1.timestamp

In [310]:
timestamp1 = date1.timestamp

In [311]:
print(timestamp1)

<built-in method timestamp of datetime.datetime object at 0x10f32b840>

In [317]:
help((date2-date1).days)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [319]:
(date2-date1).days

1

In [322]:
def donuts(count):
    count = int(count)
    if count>=10:
        return 'Number of donuts: ' + 'many'
    else:
        return 'Number of donuts: ' + str(count)
    
donuts(10)

'Number of donuts: many'

In [323]:
pole = "polecat"

In [324]:
new_pole = pole[:2] + pole[-2:]

In [325]:
print(new_pole)

poat

In [327]:
def fix_start(s):
    first_char = s[0]
    rest_of_string = s[1:]
    print(first_char)
    print(rest_of_string)
    rest_of_string.replace(first_char,'*')
    return first_char + rest_of_string

fix_start("babble")

b
abble

'babble'

In [328]:
true_or_false = True and False

In [329]:
true_or_false

False

In [334]:
no_bad_string = "This movie is not so good"

In [335]:
result = no_bad_string.find("not")
print(result)

14

In [336]:
result2 = no_bad_string.find("bad",14)
print(result2)

-1

In [363]:
some_string = "samir"
some_string[int(len(some_string)/2)]

'm'

In [364]:
len(some_string)

5

In [367]:
round(len(some_string)/2)

2

In [366]:
print(some_string[0:round(len(some_string)/2)])
print(some_string[round(len(some_string)/2):])

sa
mir

In [369]:
q1 = "abcde"
w1 = "xyz"

def front_back(s1, s2):
    if len(s1) % 2 == 0 and len(s2) % 2 == 0:
        s1_front = s1[0:int(len(s1)/2)]
        s1_back = s1[int(len(s1)/2):] 
        s2_front = s2[0:int(len(s2)/2)]
        s2_back = s2[int(len(s2)/2):] 
        
        return s1_front + s2_front + s1_back + s2_back
    elif len(s1) % 2 == 0 and len(s2) % 2 != 0:
        s1_front = s1[0:int(len(s1)/2)]
        s1_back = s1[int(len(s1)/2):] 
        s2_front = s2[0:int(len(s2)/2)+1]
        s2_back = s2[int(len(s2)/2) + 1:] 
        return s1_front + s2_front + s1_back + s2_back
    elif len(s1) % 2 != 0 and len(s2) % 2 == 0:
        s1_front = s1[0:int(len(s1)/2) + 1]
        s1_back = s1[int(len(s1)/2) + 1:]         
        s2_front = s2[0:int(len(s2)/2)]
        s2_back = s2[int(len(s2)/2):]   
        return s1_front + s2_front + s1_back + s2_back

In [370]:
front_back(q1,w1)

In [379]:
def front_x(words):
    x_list = []
    non_x_list = []
    for i,x in enumerate(words):
        first_char = words[i][0]
        if first_char == 'x':
            x_list.append(words[i])
        else:
            non_x_list.append(words[i])
    
    x_list = sorted(x_list)
    non_x_list = sorted(non_x_list)
    print(x_list)
    print(non_x_list)
    one_big_list = x_list + non_x_list
    print(one_big_list)
    return one_big_list

In [380]:
front_x(["bbb", "ccc", "axx", "xzz", "xaa"])

['xaa', 'xzz']
['axx', 'bbb', 'ccc']
['xaa', 'xzz', 'axx', 'bbb', 'ccc']

['xaa', 'xzz', 'axx', 'bbb', 'ccc']

In [381]:
print("hello")

hello

In [392]:
def remove_adjacent(nums):
    new_nums = []
    if nums:
        for i,x in enumerate(nums):
            if i == 0:
                new_nums.append(x)
            else:
                last_num = nums[i-1]
                if last_num != x:
                    new_nums.append(x)

    return new_nums

In [393]:
remove_adjacent([2, 2, 3, 3, 3, 2])

[2, 3, 2]

In [429]:
import csv

text = '''Team,Games,Wins,Losses,Draws,Goals,Goals Allowed,Points
Arsenal,38,26,9,3,79,36,87
Liverpool,38,24,8,6,67,30,80
Manchester United,38,24,5,9,87,45,77
Newcastle,38,21,8,9,74,52,71
Leeds,38,18,12,8,53,37,66
Chelsea,38,17,13,8,66,38,64
West_Ham,38,15,8,15,48,57,53
Aston_Villa,38,12,14,12,46,47,50
Tottenham,38,14,8,16,49,53,50
Blackburn,38,12,10,16,55,51,46
Southampton,38,12,9,17,46,54,45
Middlesbrough,38,12,9,17,35,47,45
Fulham,38,10,14,14,36,44,44
Charlton,38,10,14,14,38,49,44
Everton,38,11,10,17,45,57,43
Bolton,38,9,13,16,44,62,40
Sunderland,38,10,10,18,29,51,40
Ipswich,38,9,9,20,41,64,36
Derby,38,8,6,24,33,63,30
Leicester,38,5,13,20,30,64,28'''

with open('football.csv', 'w') as f:
    f.write(text)

In [430]:
new_csv = csv.reader('football.csv')
print(list(new_csv))

[['f'], ['o'], ['o'], ['t'], ['b'], ['a'], ['l'], ['l'], ['.'], ['c'], ['s'], ['v']]

In [408]:
data_lists = []
with open('football.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for row in csv_reader:
        data_lists.append(row)
print(data_lists)

[['Team', 'Games', 'Wins', 'Losses', 'Draws', 'Goals', 'Goals Allowed', 'Points'], ['Arsenal', '38', '26', '9', '3', '79', '36', '87'], ['Liverpool', '38', '24', '8', '6', '67', '30', '80'], ['Manchester United', '38', '24', '5', '9', '87', '45', '77'], ['Newcastle', '38', '21', '8', '9', '74', '52', '71'], ['Leeds', '38', '18', '12', '8', '53', '37', '66'], ['Chelsea', '38', '17', '13', '8', '66', '38', '64'], ['West_Ham', '38', '15', '8', '15', '48', '57', '53'], ['Aston_Villa', '38', '12', '14', '12', '46', '47', '50'], ['Tottenham', '38', '14', '8', '16', '49', '53', '50'], ['Blackburn', '38', '12', '10', '16', '55', '51', '46'], ['Southampton', '38', '12', '9', '17', '46', '54', '45'], ['Middlesbrough', '38', '12', '9', '17', '35', '47', '45'], ['Fulham', '38', '10', '14', '14', '36', '44', '44'], ['Charlton', '38', '10', '14', '14', '38', '49', '44'], ['Everton', '38', '11', '10', '17', '45', '57', '43'], ['Bolton', '38', '9', '13', '16', '44', '62', '40'], ['Sunderland', '38', '10', '10', '18', '29', '51', '40'], ['Ipswich', '38', '9', '9', '20', '41', '64', '36'], ['Derby', '38', '8', '6', '24', '33', '63', '30'], ['Leicester', '38', '5', '13', '20', '30', '64', '28']]

In [409]:
data_lists[1]

['Arsenal', '38', '26', '9', '3', '79', '36', '87']

In [421]:
list_of_diffs = [['Team Name','Goal Differential']]

for i,row in enumerate(data_lists):
    if i != 0:
        goals_for = int(row[5])
        goals_against = int(row[6])
        diff = goals_for - goals_against
        list_of_diffs.append([row[0],diff])

minimum = int(list_of_diffs[1][1])
team_name = ''

for i,row in enumerate(list_of_diffs):
    if i != 0:
        if row[1] < minimum:
            minimum = row[1]
            team_name = row[0]

index_number = 0
for i,row in enumerate(data_lists):
    if row[0] == team_name:
        index_number = i

print(index_number)

20

In [422]:
def get_index_with_min_abs_score_difference(goals):
    """Returns the index of the team with the smallest difference
    between 'for' and 'against' goals, in terms of absolute value.

    Arguments: parsed_data is a list of lists of cleaned strings
    Returns: integer row index
    """

    list_of_diffs = [['Team Name','Goal Differential']]

    for i,row in enumerate(data_lists):
        if i != 0:
            goals_for = int(row[5])
            goals_against = int(row[6])
            diff = goals_for - goals_against
            list_of_diffs.append([row[0],diff])

    minimum = int(list_of_diffs[1][1])
    team_name = ''

    for i,row in enumerate(list_of_diffs):
        if i != 0:
            if row[1] < minimum:
                minimum = row[1]
                team_name = row[0]

    index_number = 0
    for i,row in enumerate(data_lists):
        if row[0] == team_name:
            index_number = i

    return index_number

In [423]:
get_index_with_min_abs_score_difference(data_lists)

20

In [424]:
def get_team(index_value, parsed_data):
    return parsed_data[index_value][0]

In [425]:
get_team(20,data_lists)

'Leicester'

In [426]:
print(list_of_diffs)

[['Team Name', 'Goal Differential'], ['Arsenal', 43], ['Liverpool', 37], ['Manchester United', 42], ['Newcastle', 22], ['Leeds', 16], ['Chelsea', 28], ['West_Ham', -9], ['Aston_Villa', -1], ['Tottenham', -4], ['Blackburn', 4], ['Southampton', -8], ['Middlesbrough', -12], ['Fulham', -8], ['Charlton', -11], ['Everton', -12], ['Bolton', -18], ['Sunderland', -22], ['Ipswich', -23], ['Derby', -30], ['Leicester', -34]]

In [427]:
def read_data(filename):
    """Returns a list of lists representing the rows of the csv file data.

    Arguments: filename is the name of a csv file (as a string)
    Returns: list of lists of strings, where every line is split into a list of values. 
        ex: ['Arsenal', 38, 26, 9, 3, 79, 36, 87]
    """

    data_lists = []
    with open(filename) as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        for row in csv_reader:
            data_lists.append(row)
    return data_lists

In [432]:
read_data('football.csv')

[['Team',
  'Games',
  'Wins',
  'Losses',
  'Draws',
  'Goals',
  'Goals Allowed',
  'Points'],
 ['Arsenal', '38', '26', '9', '3', '79', '36', '87'],
 ['Liverpool', '38', '24', '8', '6', '67', '30', '80'],
 ['Manchester United', '38', '24', '5', '9', '87', '45', '77'],
 ['Newcastle', '38', '21', '8', '9', '74', '52', '71'],
 ['Leeds', '38', '18', '12', '8', '53', '37', '66'],
 ['Chelsea', '38', '17', '13', '8', '66', '38', '64'],
 ['West_Ham', '38', '15', '8', '15', '48', '57', '53'],
 ['Aston_Villa', '38', '12', '14', '12', '46', '47', '50'],
 ['Tottenham', '38', '14', '8', '16', '49', '53', '50'],
 ['Blackburn', '38', '12', '10', '16', '55', '51', '46'],
 ['Southampton', '38', '12', '9', '17', '46', '54', '45'],
 ['Middlesbrough', '38', '12', '9', '17', '35', '47', '45'],
 ['Fulham', '38', '10', '14', '14', '36', '44', '44'],
 ['Charlton', '38', '10', '14', '14', '38', '49', '44'],
 ['Everton', '38', '11', '10', '17', '45', '57', '43'],
 ['Bolton', '38', '9', '13', '16', '44', '62', '40'],
 ['Sunderland', '38', '10', '10', '18', '29', '51', '40'],
 ['Ipswich', '38', '9', '9', '20', '41', '64', '36'],
 ['Derby', '38', '8', '6', '24', '33', '63', '30'],
 ['Leicester', '38', '5', '13', '20', '30', '64', '28']]

In [445]:
def remove_duplicates(somelist):
    unique_list = set(somelist)
    return unique_list

In [446]:
remove_duplicates([1,2,2,2,2,3,3,3,4,5,6])

{1, 2, 3, 4, 5, 6}

In [447]:
from collections import defaultdict

In [449]:
food_count = defaultdict(int)
print(food_count)

defaultdict(<class 'int'>, {})

In [450]:
type(food_count)

collections.defaultdict

In [451]:
food_list = 'spam spam spam spam spam spam eggs spam'.split()

In [452]:
print(food_list)

['spam', 'spam', 'spam', 'spam', 'spam', 'spam', 'eggs', 'spam']

In [453]:
for food in food_list:
    food_count[food] += 1
    
print(food_count)

defaultdict(<class 'int'>, {'spam': 7, 'eggs': 1})

In [454]:
a = {'first': 123, 'second': 456, 'third': {1:1,2:2}, 'fourth': {1:1,2:2}, 'fifth': 555}
print(a)

{'first': 123, 'second': 456, 'third': {1: 1, 2: 2}, 'fourth': {1: 1, 2: 2}, 'fifth': 555}

In [455]:
import pprint as pp

In [466]:
pp.pprint(a)

{'fifth': 555,
 'first': 123,
 'fourth': {1: 1, 2: 2},
 'second': 456,
 'third': {1: 1, 2: 2}}

In [467]:
pp.pprint(a, width=2)

{'fifth': 555,
 'first': 123,
 'fourth': {1: 1,
            2: 2},
 'second': 456,
 'third': {1: 1,
           2: 2}}

In [468]:
import sys
import os
import tempfile
from pathlib import Path


facultycsv = """name, degree, title, email
Scarlett L. Bellamy, Sc.D.,Associate Professor of Biostatistics,bellamys@mail.med.upenn.edu
Warren B. Bilker,Ph.D.,Professor of Biostatistics,warren@upenn.edu
Matthew W Bryan, PhD,Assistant Professor of Biostatistics,bryanma@upenn.edu
Jinbo Chen, Ph.D.,Associate Professor of Biostatistics,jinboche@upenn.edu
Susan S Ellenberg, Ph.D.,Professor of Biostatistics,sellenbe@upenn.edu
Jonas H. Ellenberg, Ph.D.,Professor of Biostatistics,jellenbe@mail.med.upenn.edu
Rui Feng, Ph.D,Assistant Professor of Biostatistics,ruifeng@upenn.edu
Benjamin C. French, PhD,Associate Professor of Biostatistics,bcfrench@mail.med.upenn.edu
Phyllis A. Gimotty, Ph.D,Professor of Biostatistics,pgimotty@upenn.edu
Wensheng Guo, Ph.D,Professor of Biostatistics,wguo@mail.med.upenn.edu
Yenchih Hsu, Ph.D.,Assistant Professor of Biostatistics,hsu9@mail.med.upenn.edu
Rebecca A Hubbard, PhD,Associate Professor of Biostatistics,rhubb@mail.med.upenn.edu
Wei-Ting Hwang, Ph.D.,Associate Professor of Biostatistics,whwang@mail.med.upenn.edu
Marshall M. Joffe, MD MPH Ph.D,Professor of Biostatistics,mjoffe@mail.med.upenn.edu
J. Richard Landis, B.S.Ed. M.S. Ph.D.,Professor of Biostatistics,jrlandis@mail.med.upenn.edu
Yimei Li, Ph.D.,Assistant Professor of Biostatistics,liy3@email.chop.edu
Mingyao Li, Ph.D.,Associate Professor of Biostatistics,mingyao@mail.med.upenn.edu
Hongzhe Li, Ph.D,Professor of Biostatistics,hongzhe@upenn.edu
A. Russell Localio, JD MA MPH MS PhD,Associate Professor of Biostatistics,rlocalio@upenn.edu
Nandita Mitra, Ph.D.,Associate Professor of Biostatistics,nanditam@mail.med.upenn.edu
Knashawn H. Morales, Sc.D.,Associate Professor of Biostatistics,knashawn@mail.med.upenn.edu
Kathleen Joy Propert, Sc.D.,Professor of Biostatistics,propert@mail.med.upenn.edu
Mary E. Putt, PhD ScD,Professor of Biostatistics,mputt@mail.med.upenn.edu
Sarah Jane Ratcliffe, Ph.D.,Associate Professor of Biostatistics,sratclif@upenn.edu
Michelle Elana Ross, PhD,Assistant Professor is Biostatistics,michross@upenn.edu
Jason A. Roy, Ph.D.,Associate Professor of Biostatistics,jaroy@mail.med.upenn.edu
Mary D. Sammel, Sc.D.,Professor of Biostatistics,msammel@cceb.med.upenn.edu
Pamela Ann Shaw, PhD,Assistant Professor of Biostatistics,shawp@upenn.edu
Russell Takeshi Shinohara,0,Assistant Professor of Biostatistics,rshi@mail.med.upenn.edu
Haochang Shou, Ph.D.,Assistant Professor of Biostatistics,hshou@mail.med.upenn.edu
Justine Shults, Ph.D.,Professor of Biostatistics,jshults@mail.med.upenn.edu
Alisa Jane Stephens, Ph.D.,Assistant Professor of Biostatistics,alisaste@mail.med.upenn.edu
Andrea Beth Troxel, ScD,Professor of Biostatistics,atroxel@mail.med.upenn.edu
Rui Xiao, PhD,Assistant Professor of Biostatistics,rxiao@mail.med.upenn.edu
Sharon Xiangwen Xie, Ph.D.,Associate Professor of Biostatistics,sxie@mail.med.upenn.edu
Dawei Xie, PhD,Assistant Professor of Biostatistics,dxie@upenn.edu
Wei (Peter) Yang, Ph.D.,Assistant Professor of Biostatistics,weiyang@mail.med.upenn.edu"""


temp_dir = Path(os.environ['OUTPUT_PATH']).parent

faculty_path = temp_dir / "faculty.csv"

faculty_path.write_text(facultycsv)

KeyError: 'OUTPUT_PATH'

In [469]:
https://github.com/thisismetis/dsp/blob/master/lessons/data/faculty.csv

SyntaxError: invalid syntax (<ipython-input-469-9ff5e5d477b0>, line 1)

In [9]:
import csv
def read_data(filename):
    """Returns a list of lists representing the rows of the csv file data.

    Arguments: filename is the name of a csv file (as a string)
    Returns: list of lists of strings, where every line is split into a list of values. 
        ex: ['Arsenal', 38, 26, 9, 3, 79, 36, 87]
    """

    data_lists = []
    with open(filename) as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        for row in csv_reader:
            data_lists.append(row)
    return data_lists

In [18]:
data_lists = read_data("faculty.csv")
import re
print(data_lists)

[['name', ' degree', ' title', ' email'], ['Scarlett L. Bellamy', ' Sc.D.', 'Associate Professor of Biostatistics', 'bellamys@mail.med.upenn.edu'], ['Warren B. Bilker', 'Ph.D.', 'Professor of Biostatistics', 'warren@upenn.edu'], ['Matthew W Bryan', ' PhD', 'Assistant Professor of Biostatistics', 'bryanma@upenn.edu'], ['Jinbo Chen', ' Ph.D.', 'Associate Professor of Biostatistics', 'jinboche@upenn.edu'], ['Susan S Ellenberg', ' Ph.D.', 'Professor of Biostatistics', 'sellenbe@upenn.edu'], ['Jonas H. Ellenberg', ' Ph.D.', 'Professor of Biostatistics', 'jellenbe@mail.med.upenn.edu'], ['Rui Feng', ' Ph.D', 'Assistant Professor of Biostatistics', 'ruifeng@upenn.edu'], ['Benjamin C. French', ' PhD', 'Associate Professor of Biostatistics', 'bcfrench@mail.med.upenn.edu'], ['Phyllis A. Gimotty', ' Ph.D', 'Professor of Biostatistics', 'pgimotty@upenn.edu'], ['Wensheng Guo', ' Ph.D', 'Professor of Biostatistics', 'wguo@mail.med.upenn.edu'], ['Yenchih Hsu', ' Ph.D.', 'Assistant Professor of Biostatistics', 'hsu9@mail.med.upenn.edu'], ['Rebecca A Hubbard', ' PhD', 'Associate Professor of Biostatistics', 'rhubb@mail.med.upenn.edu'], ['Wei-Ting Hwang', ' Ph.D.', 'Associate Professor of Biostatistics', 'whwang@mail.med.upenn.edu'], ['Marshall M. Joffe', ' MD MPH Ph.D', 'Professor of Biostatistics', 'mjoffe@mail.med.upenn.edu'], ['J. Richard Landis', ' B.S.Ed. M.S. Ph.D.', 'Professor of Biostatistics', 'jrlandis@mail.med.upenn.edu'], ['Yimei Li', ' Ph.D.', 'Assistant Professor of Biostatistics', 'liy3@email.chop.edu'], ['Mingyao Li', ' Ph.D.', 'Associate Professor of Biostatistics', 'mingyao@mail.med.upenn.edu'], ['Hongzhe Li', ' Ph.D', 'Professor of Biostatistics', 'hongzhe@upenn.edu'], ['A. Russell Localio', ' JD MA MPH MS PhD', 'Associate Professor of Biostatistics', 'rlocalio@upenn.edu'], ['Nandita Mitra', ' Ph.D.', 'Associate Professor of Biostatistics', 'nanditam@mail.med.upenn.edu'], ['Knashawn H. Morales', ' Sc.D.', 'Associate Professor of Biostatistics', 'knashawn@mail.med.upenn.edu'], ['Kathleen Joy Propert', ' Sc.D.', 'Professor of Biostatistics', 'propert@mail.med.upenn.edu'], ['Mary E. Putt', ' PhD ScD', 'Professor of Biostatistics', 'mputt@mail.med.upenn.edu'], ['Sarah Jane Ratcliffe', ' Ph.D.', 'Associate Professor of Biostatistics', 'sratclif@upenn.edu'], ['Michelle Elana Ross', ' PhD', 'Assistant Professor is Biostatistics', 'michross@upenn.edu'], ['Jason A. Roy', ' Ph.D.', 'Associate Professor of Biostatistics', 'jaroy@mail.med.upenn.edu'], ['Mary D. Sammel', ' Sc.D.', 'Professor of Biostatistics', 'msammel@cceb.med.upenn.edu'], ['Pamela Ann Shaw', ' PhD', 'Assistant Professor of Biostatistics', 'shawp@upenn.edu'], ['Russell Takeshi Shinohara', '0', 'Assistant Professor of Biostatistics', 'rshi@mail.med.upenn.edu'], ['Haochang Shou', ' Ph.D.', 'Assistant Professor of Biostatistics', 'hshou@mail.med.upenn.edu'], ['Justine Shults', ' Ph.D.', 'Professor of Biostatistics', 'jshults@mail.med.upenn.edu'], ['Alisa Jane Stephens', ' Ph.D.', 'Assistant Professor of Biostatistics', 'alisaste@mail.med.upenn.edu'], ['Andrea Beth Troxel', ' ScD', 'Professor of Biostatistics', 'atroxel@mail.med.upenn.edu'], ['Rui Xiao', ' PhD', 'Assistant Professor of Biostatistics', 'rxiao@mail.med.upenn.edu'], ['Sharon Xiangwen Xie', ' Ph.D.', 'Associate Professor of Biostatistics', 'sxie@mail.med.upenn.edu'], ['Dawei Xie', ' PhD', 'Assistant Professor of Biostatistics', 'dxie@upenn.edu'], ['Wei (Peter) Yang', ' Ph.D.', 'Assistant Professor of Biostatistics', 'weiyang@mail.med.upenn.edu']]

In [24]:
from collections import defaultdict

degree_count = defaultdict(int)
for i,person_info in enumerate(data_lists):
    if i != 0:
        for degree in person_info[1].split():
            if re.findall("^P",degree):
                degree_count["PhD"] += 1
            elif re.findall("^Sc",degree):
                degree_count["ScD"] += 1
            elif re.findall("^MD",degree):
                degree_count["MD"] += 1
            elif re.findall("MPH",degree):
                degree_count["MPH"] += 1
            elif re.findall("B.S.Ed.",degree):
                degree_count["B.S.Ed."] += 1
            elif re.findall("M.S.",degree) or re.findall("MS",degree):
                degree_count["M.S."] += 1
            elif re.findall("MA",degree):
                degree_count["MA"] += 1
            elif re.findall("JD",degree):
                degree_count["JD"] += 1
            else:
                degree_count["0"] += 1
    
print(degree_count)

defaultdict(<class 'int'>, {'ScD': 6, 'PhD': 31, 'MD': 1, 'MPH': 2, 'B.S.Ed.': 1, 'M.S.': 2, 'JD': 1, 'MA': 1, '0': 1})

In [29]:
def count_titles(csv_file_name):
    # reading the CSV and turning it into a list of lists
    data_lists = []
    with open(csv_file_name) as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        for row in csv_reader:
            data_lists.append(row)
    
    title_count = defaultdict(int)
    for i,person_title in enumerate(data_lists):
        if i != 0: # we don't need to loop through the first row because it just contains column headers

            # split up the string of each persons degrees into a list of strings where each element is a seperate degree
            # loop through the list of degrees for each person and add their degrees to the overall count
            # I also use REGEX hereto make it easier to find degrees that are the same but spelled differently
            if re.findall("^Associate",person_title[2]):
                title_count["Associate Professor of Biostatistics"] += 1
            elif re.findall("^Assistant",person_title[2]):
                title_count["Assistant Professor of Biostatistics"] += 1
            elif re.findall("^Professor",person_title[2]):
                title_count["Professor of Biostatistics"] += 1
        
    return title_count

In [30]:
count_titles("faculty.csv")

defaultdict(int,
            {'Associate Professor of Biostatistics': 12,
             'Professor of Biostatistics': 13,
             'Assistant Professor of Biostatistics': 12})

In [45]:
def emails(csv_file_name):
    data_lists = []
    with open(csv_file_name) as csv_file:
        csv_reader = csv.reader(csv_file, delimiter=',')
        for row in csv_reader:
            data_lists.append(row) 
    
    list_of_emails = []
    for row in data_lists:
        for item in row:
            if re.findall(".edu$",item):
                list_of_emails.append(item)

    return list_of_emails

In [47]:
email_list = emails("faculty.csv")

In [48]:
print(email_list)

['bellamys@mail.med.upenn.edu', 'warren@upenn.edu', 'bryanma@upenn.edu', 'jinboche@upenn.edu', 'sellenbe@upenn.edu', 'jellenbe@mail.med.upenn.edu', 'ruifeng@upenn.edu', 'bcfrench@mail.med.upenn.edu', 'pgimotty@upenn.edu', 'wguo@mail.med.upenn.edu', 'hsu9@mail.med.upenn.edu', 'rhubb@mail.med.upenn.edu', 'whwang@mail.med.upenn.edu', 'mjoffe@mail.med.upenn.edu', 'jrlandis@mail.med.upenn.edu', 'liy3@email.chop.edu', 'mingyao@mail.med.upenn.edu', 'hongzhe@upenn.edu', 'rlocalio@upenn.edu', 'nanditam@mail.med.upenn.edu', 'knashawn@mail.med.upenn.edu', 'propert@mail.med.upenn.edu', 'mputt@mail.med.upenn.edu', 'sratclif@upenn.edu', 'michross@upenn.edu', 'jaroy@mail.med.upenn.edu', 'msammel@cceb.med.upenn.edu', 'shawp@upenn.edu', 'rshi@mail.med.upenn.edu', 'hshou@mail.med.upenn.edu', 'jshults@mail.med.upenn.edu', 'alisaste@mail.med.upenn.edu', 'atroxel@mail.med.upenn.edu', 'rxiao@mail.med.upenn.edu', 'sxie@mail.med.upenn.edu', 'dxie@upenn.edu', 'weiyang@mail.med.upenn.edu']

In [51]:
email_test = "samirthanedar@gmail.com"
email_test.split('@')[1]

'gmail.com'

In [120]:
list_of_emails = ["bellamys@mail.med.upenn.edu", "warren@upenn.edu", 'bryanma@upenn.edu']
print(list_of_emails)

['bellamys@mail.med.upenn.edu', 'warren@upenn.edu', 'bryanma@upenn.edu']

In [153]:
list_of_emails = ["bellamys@mail.med.upenn.edu", "warren@upenn.edu", 'bryanma@upenn.edu']

import csv
def write_to_csv(list_of_emails):
    with open('emails.csv', 'w') as csv_file:      
        csv_writer = csv.writer(csv_file)
        csv_writer.writerow('list_of_emails')
        for val in list_of_emails:
            csv_writer.writerow([val])
    return csv_writer

In [154]:
write_to_csv(list_of_emails)

In [152]:
with open('emails_3.csv', 'r') as f:
    header = f.readline()    
    emails2 = []
    for line in f.readlines():
        emails2.append(line.strip())
print(header)
print(emails_new)
print(emails2)

list_of_emails

['list_of_emails']
[]

In [146]:
#os.remove('emails.csv')
assert all(i == j for i, j in zip(emails_new, emails2)), 'this list of emails is different'


assert len(emails_new) == len(emails2), 'this list of emails is different'
print(1)

AssertionError: this list of emails is different

In [212]:
dictionary1 = {"key1":"value", "key2":"value2"}
dictionary1["key3"] = "value3"
dictionary1['key1']

'value'

In [144]:
emails2

[]

In [345]:
import csv
from collections import defaultdict
def get_dict():
    table = []
    newdict = defaultdict(list)
    
    #turn the csv into a list of lists
    with open('faculty.csv') as csvfile:
        reader = csv.reader(csvfile)
        table = list(reader)
    
    #turn each person's name into a tuple containing each word as a seperate element
    for i,row in enumerate(table):
        if i != 0:
            name = row[0]
            last_name = name.split()
            last_name = tuple(last_name)
            row[0] = last_name
            
    #get rid of the column headers
    del(table[0])
    
    #combine the degree, title and email into one list
    for row in table:
        row[1] = [row[1], row[2], row[3]]
        del(row[3])
        del(row[2])
        
    #turn table into a dictionary making the keys the nametuples and the values as a list of their degrees, title and email
    for row in table:
        newdict[row[0]] = row[1]
        
    newdict = dict(newdict)
    return newdict

In [346]:
get_dict()

{('Scarlett', 'L.', 'Bellamy'): [' Sc.D.',
  'Associate Professor of Biostatistics',
  'bellamys@mail.med.upenn.edu'],
 ('Warren', 'B.', 'Bilker'): ['Ph.D.',
  'Professor of Biostatistics',
  'warren@upenn.edu'],
 ('Matthew', 'W', 'Bryan'): [' PhD',
  'Assistant Professor of Biostatistics',
  'bryanma@upenn.edu'],
 ('Jinbo', 'Chen'): [' Ph.D.',
  'Associate Professor of Biostatistics',
  'jinboche@upenn.edu'],
 ('Susan', 'S', 'Ellenberg'): [' Ph.D.',
  'Professor of Biostatistics',
  'sellenbe@upenn.edu'],
 ('Jonas', 'H.', 'Ellenberg'): [' Ph.D.',
  'Professor of Biostatistics',
  'jellenbe@mail.med.upenn.edu'],
 ('Rui', 'Feng'): [' Ph.D',
  'Assistant Professor of Biostatistics',
  'ruifeng@upenn.edu'],
 ('Benjamin', 'C.', 'French'): [' PhD',
  'Associate Professor of Biostatistics',
  'bcfrench@mail.med.upenn.edu'],
 ('Phyllis', 'A.', 'Gimotty'): [' Ph.D',
  'Professor of Biostatistics',
  'pgimotty@upenn.edu'],
 ('Wensheng', 'Guo'): [' Ph.D',
  'Professor of Biostatistics',
  'wguo@mail.med.upenn.edu'],
 ('Yenchih', 'Hsu'): [' Ph.D.',
  'Assistant Professor of Biostatistics',
  'hsu9@mail.med.upenn.edu'],
 ('Rebecca', 'A', 'Hubbard'): [' PhD',
  'Associate Professor of Biostatistics',
  'rhubb@mail.med.upenn.edu'],
 ('Wei-Ting', 'Hwang'): [' Ph.D.',
  'Associate Professor of Biostatistics',
  'whwang@mail.med.upenn.edu'],
 ('Marshall', 'M.', 'Joffe'): [' MD MPH Ph.D',
  'Professor of Biostatistics',
  'mjoffe@mail.med.upenn.edu'],
 ('J.', 'Richard', 'Landis'): [' B.S.Ed. M.S. Ph.D.',
  'Professor of Biostatistics',
  'jrlandis@mail.med.upenn.edu'],
 ('Yimei', 'Li'): [' Ph.D.',
  'Assistant Professor of Biostatistics',
  'liy3@email.chop.edu'],
 ('Mingyao', 'Li'): [' Ph.D.',
  'Associate Professor of Biostatistics',
  'mingyao@mail.med.upenn.edu'],
 ('Hongzhe', 'Li'): [' Ph.D',
  'Professor of Biostatistics',
  'hongzhe@upenn.edu'],
 ('A.', 'Russell', 'Localio'): [' JD MA MPH MS PhD',
  'Associate Professor of Biostatistics',
  'rlocalio@upenn.edu'],
 ('Nandita', 'Mitra'): [' Ph.D.',
  'Associate Professor of Biostatistics',
  'nanditam@mail.med.upenn.edu'],
 ('Knashawn', 'H.', 'Morales'): [' Sc.D.',
  'Associate Professor of Biostatistics',
  'knashawn@mail.med.upenn.edu'],
 ('Kathleen', 'Joy', 'Propert'): [' Sc.D.',
  'Professor of Biostatistics',
  'propert@mail.med.upenn.edu'],
 ('Mary', 'E.', 'Putt'): [' PhD ScD',
  'Professor of Biostatistics',
  'mputt@mail.med.upenn.edu'],
 ('Sarah', 'Jane', 'Ratcliffe'): [' Ph.D.',
  'Associate Professor of Biostatistics',
  'sratclif@upenn.edu'],
 ('Michelle', 'Elana', 'Ross'): [' PhD',
  'Assistant Professor is Biostatistics',
  'michross@upenn.edu'],
 ('Jason', 'A.', 'Roy'): [' Ph.D.',
  'Associate Professor of Biostatistics',
  'jaroy@mail.med.upenn.edu'],
 ('Mary', 'D.', 'Sammel'): [' Sc.D.',
  'Professor of Biostatistics',
  'msammel@cceb.med.upenn.edu'],
 ('Pamela', 'Ann', 'Shaw'): [' PhD',
  'Assistant Professor of Biostatistics',
  'shawp@upenn.edu'],
 ('Russell', 'Takeshi', 'Shinohara'): ['0',
  'Assistant Professor of Biostatistics',
  'rshi@mail.med.upenn.edu'],
 ('Haochang', 'Shou'): [' Ph.D.',
  'Assistant Professor of Biostatistics',
  'hshou@mail.med.upenn.edu'],
 ('Justine', 'Shults'): [' Ph.D.',
  'Professor of Biostatistics',
  'jshults@mail.med.upenn.edu'],
 ('Alisa', 'Jane', 'Stephens'): [' Ph.D.',
  'Assistant Professor of Biostatistics',
  'alisaste@mail.med.upenn.edu'],
 ('Andrea', 'Beth', 'Troxel'): [' ScD',
  'Professor of Biostatistics',
  'atroxel@mail.med.upenn.edu'],
 ('Rui', 'Xiao'): [' PhD',
  'Assistant Professor of Biostatistics',
  'rxiao@mail.med.upenn.edu'],
 ('Sharon', 'Xiangwen', 'Xie'): [' Ph.D.',
  'Associate Professor of Biostatistics',
  'sxie@mail.med.upenn.edu'],
 ('Dawei', 'Xie'): [' PhD',
  'Assistant Professor of Biostatistics',
  'dxie@upenn.edu'],
 ('Wei', '(Peter)', 'Yang'): [' Ph.D.',
  'Assistant Professor of Biostatistics',
  'weiyang@mail.med.upenn.edu']}

In [339]:
table234 = ['Benjamin C. French', 'Dawei Xie']

In [342]:
name = table234[0].split()
name = tuple(name)
print(name)

('Benjamin', 'C.', 'French')

In [349]:
import numpy as np
import pandas as pd

In [350]:
# WARNING: If you close your browser, your work will be LOST!

# Q1: import numpy and pandas
import numpy as np
import pandas as pd
# Q2: Set options in pandas so it displays 30 `max_rows` 
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)    # no limit on `max_columns`
pd.set_option('display.precision', 3)         # precision is 3

In [351]:
# Q3: assign the versions of pandas and numpy to variables below
pd_version = pd.__version__
np_version = np.__version__

In [353]:
# Q4: Read in the csv file "olive.csv" with pandas. 
#     The filename is stored in the variable `olive_path`
#     Assign it to variable `df`
df = pd.read_csv('olive.csv') #change this before submitting

# The fields are:

# Unnamed: 0
# region
# area
# palmitic
# palmitoleic
# stearic
# oleic
# linoleic
# linolenic
# arachidic
# eicosenoic

In [356]:
# Q5: How many rows and columns are there in `df`? Put your answer in a variable `df_shape`.
df_shape = df.shape

In [359]:
# Q6: assign the first 2 rows of `df` to `df_first_two`
df_first_two = df.iloc[0:2]

In [366]:
# Q7: How many distinct data types are there in `df`?
df_data_types_count = len(set(df.dtypes)) # this should be an integer

In [367]:
# Q8: In `df`, create a new column 'sub_region_raw', which will be a copy of the column 'Unnamed: 0'

df['sub_region_raw'] = df['Unnamed: 0']

In [369]:
# Q9: In `df`, rename 'Unnamed: 0' to 'sub_region_desc'
df.rename(columns={'Unnamed: 0': 'sub_region_desc'}, inplace=True)

In [370]:
df

,sub_region_desc,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia
...,...,...,...,...,...,...,...,...,...,...,...,...
567,568.West-Liguria,3,8,1280,110,290,7490,790,10,10,2,568.West-Liguria
568,569.West-Liguria,3,8,1060,100,270,7740,810,10,10,3,569.West-Liguria
569,570.West-Liguria,3,8,1010,90,210,7720,970,0,0,2,570.West-Liguria
570,571.West-Liguria,3,8,990,120,250,7750,870,10,10,2,571.West-Liguria
571,572.West-Liguria,3,8,960,80,240,7950,740,10,20,2,572.West-Liguria

In [371]:
# Q10: In `df`, rename the column 'area' to: 'sub_region'

df.rename(columns={'area': 'sub_region'}, inplace=True)

In [372]:
df

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29,1.North-Apulia
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29,2.North-Apulia
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29,3.North-Apulia
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35,4.North-Apulia
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46,5.North-Apulia
...,...,...,...,...,...,...,...,...,...,...,...,...
567,568.West-Liguria,3,8,1280,110,290,7490,790,10,10,2,568.West-Liguria
568,569.West-Liguria,3,8,1060,100,270,7740,810,10,10,3,569.West-Liguria
569,570.West-Liguria,3,8,1010,90,210,7720,970,0,0,2,570.West-Liguria
570,571.West-Liguria,3,8,990,120,250,7750,870,10,10,2,571.West-Liguria
571,572.West-Liguria,3,8,960,80,240,7950,740,10,20,2,572.West-Liguria

In [374]:
# Q11: In `df`, get the unique values of the field 'region'
region_unique = set(df.region)

{1, 2, 3}

In [376]:
# Q12: In `df`, how many unique values of the field 'sub_region' are there?
sub_region_unique_count = len(set(df.sub_region)) # should be an integer

9

In [397]:
# Q13: Lets take a look at the field `sub_region_desc`:

# >>> df['sub_region_desc'].head(5)
# 0    1.North-Apulia
# 1    2.North-Apulia
# 2    3.North-Apulia
# 3    4.North-Apulia
# 4    5.North-Apulia

# Looks like 'sub_region_desc' has line numbers attached to the beginning of region name. 
# Remove those and get the unique values in that field, assign it to `srd_unique`
df['sub_region_desc'] = df['sub_region_desc'].apply(lambda x: x.lstrip('0123456789.'))
        
srd_unique = set(df.sub_region_desc)

{'Calabria',
 'Coast-Sardinia',
 'East-Liguria',
 'Inland-Sardinia',
 'North-Apulia',
 'Sicily',
 'South-Apulia',
 'Umbria',
 'West-Liguria'}